*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}
@media screen and (max-width: 600px){
    #logo{
        display: block;
        height: 50px;
        width: 100%;
        font-size: 40px;
        background-color: rgb(48, 80, 97);
        color: whitesmoke;
        font-weight: lighter;
        padding-left: 20px;
        -webkit-box-shadow: -8px 7px 13px 1px rgba(136,142,158,0.68);
        -moz-box-shadow: -8px 7px 13px 1px rgba(136,142,158,0.68);
        box-shadow: -8px 7px 13px 1px rgba(136,142,158,0.68);
    }
    .titulos{
        margin-left: 20px;
        margin-top: 50px;
        font-weight: lighter;
    }
    fieldset{
        border: none;
    }

    .caja{
        float: left;
        width: 50%;
        height: 800px;
       
    }

    .inp{
        margin-top: 30px;
        margin-left: 20px;
        display: block;
        width: 100%;
        border: 1px solid #eeeeee;
        padding: 5px;
        outline-color: #eeeeee;
        height: 30px;
        font-size: 1rem;
        font-weight: lighter;
        -webkit-box-shadow: inset 8px 7px 4px -4px rgba(143,143,143,0.44);
        -moz-box-shadow: inset 8px 7px 4px -4px rgba(143,143,143,0.44);
        box-shadow: inset 8px 7px 4px -4px rgba(143,143,143,0.44);
        
    }
    .divmapa {
        display: block;
        width: 100%;
        height: 180px;
        margin-left: 20px;
        margin-top: 20px;
        overflow: hidden;
        position:sticky;
        float: left;
        -webkit-box-shadow: inset -8px 7px 13px 1px rgba(136,142,158,0.68);
        -moz-box-shadow: inset -8px 7px 13px 1px rgba(136,142,158,0.68);
        box-shadow: inset -8px 7px 13px 1px rgba(136,142,158,0.68);
        
        
    
    }
    .divmapa > .mapa {
        
        position: relative;
        margin: auto;
        max-width: 200%;
        max-height: 750px;
        left: -100px;
        -webkit-box-shadow: inset -8px 7px 13px 1px rgba(136,142,158,0.68);
        -moz-box-shadow: inset -8px 7px 13px 1px rgba(136,142,158,0.68);
        box-shadow: inset -8px 7px 13px 1px rgba(136,142,158,0.68);
        
        
        
    }
    
    button{
        margin-top: 30px;
        margin-left: 20px;
        width: 70px;
        height: 40px;
        padding: 4px;
        background-color: #0000004f;
        color: whitesmoke;
        border: none;
        font-size: 1rem;
        font-weight: lighter;
        -webkit-box-shadow: 8px 7px 4px -4px rgba(143,143,143,0.4);
        -moz-box-shadow: 8px 7px 4px -4px rgba(143,143,143,0.4);
        box-shadow: 8px 7px 4px -4px rgba(143,143,143,0.4);
        float: left;
    }


}
@media screen and (min-width: 900px){
    #logo{
        display: block;
        height: 50px;
        width: 100%;
        font-size: 40px;
        background-color: rgb(48, 80, 97);
        color: whitesmoke;
        font-weight: lighter;
        padding-left: 20px;
        -webkit-box-shadow: -8px 7px 13px 1px rgba(136,142,158,0.68);
        -moz-box-shadow: -8px 7px 13px 1px rgba(136,142,158,0.68);
        box-shadow: -8px 7px 13px 1px rgba(136,142,158,0.68);
    }
    .titulos{
        margin-left: 20px;
        margin-top: 50px;
        font-weight: lighter;
    }
    fieldset{
        border: none;
    }
    .selec{
        width: 30.7%;
        margin-top: 30px;
        margin-left: 20px;
        display: block;
        color: #616161d8;
        border: 1px solid #eeeeee;
        padding: 5px;
        outline-color: #eeeeee;
        height: 30px;
        font-size: 1rem;
        font-weight: lighter;
        -webkit-box-shadow: inset 8px 7px 4px -4px rgba(143,143,143,0.44);
        -moz-box-shadow: inset 8px 7px 4px -4px rgba(143,143,143,0.44);
        box-shadow: inset 8px 7px 4px -4px rgba(143,143,143,0.44);
    }
    .inp{
        margin-top: 30px;
        margin-left: 20px;
        display: block;
        width: 100%;
        border: 1px solid #eeeeee;
        padding: 5px;
        outline-color: #eeeeee;
        height: 30px;
        font-size: 1rem;
        font-weight: lighter;
        -webkit-box-shadow: inset 8px 7px 4px -4px rgba(143,143,143,0.44);
        -moz-box-shadow: inset 8px 7px 4px -4px rgba(143,143,143,0.44);
        box-shadow: inset 8px 7px 4px -4px rgba(143,143,143,0.44);
        
    }
    .divmapa {
        display: block;
        width: 100%;
        height: 300px;
        margin-left: 20px;
        margin-top: 20px;
        overflow: hidden;
        position:sticky;
        float: left;
        -webkit-box-shadow: inset -8px 7px 13px 1px rgba(136,142,158,0.68);
        -moz-box-shadow: inset -8px 7px 13px 1px rgba(136,142,158,0.68);
        box-shadow: inset -8px 7px 13px 1px rgba(136,142,158,0.68);
        
        
    
    }
    .divmapa > .mapa {
        
        position: relative;
        margin: auto;
        max-width: 200%;
        max-height: 750px;
        left: -100px;
        -webkit-box-shadow: inset -8px 7px 13px 1px rgba(136,142,158,0.68);
        -moz-box-shadow: inset -8px 7px 13px 1px rgba(136,142,158,0.68);
        box-shadow: inset -8px 7px 13px 1px rgba(136,142,158,0.68);
        
        
        
    }
    
    button{
        margin-top: 30px;
        margin-left: 20px;
        width: 100px;
        height: 40px;
        padding: 5px;
        background-color: #0000004f;
        color: whitesmoke;
        border: none;
        font-size: 1rem;
        font-weight: lighter;
        -webkit-box-shadow: 8px 7px 4px -4px rgba(143,143,143,0.4);
        -moz-box-shadow: 8px 7px 4px -4px rgba(143,143,143,0.4);
        box-shadow: 8px 7px 4px -4px rgba(143,143,143,0.4);
        float: left;
    }
    .caja{
        float: left;
        width: 20%;
        height: 800px;
       
    }
}

