*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans JP', sans-serif;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
header{
    position: fixed;
    height: 70px;
    border-bottom: 1px solid #c1c1c1;
    width: 100%;
    background-color: whitesmoke;
    top: 0px;
}
header > #logo{
    padding-top: 15px;
    font-size: 1rem;
    float: left;
    margin-left: 5%;
    

}
header > #logo  > h2{
    font-size: 1.5rem;
}
header > nav{
    font-size: 1rem;
    float: right;
    width: 40%;
    
    padding-top: 25px;

}
header > nav > ul > li{
    float: left;
    width: 20%;
    list-style: none;
}
header > nav > ul > li > a{
text-decoration: none;
color: #1d1d1d;
text-transform: uppercase;
font-weight: 400;
transition: 1s ease-in all;
}
header > nav > ul > li > a:hover{
    text-decoration: underline;
    }
section#main{
    min-height: 500px;
    margin-top: 70px;
    width: 100%;
    float: left;

}
section#main h1{
    margin-top: 150px;
    margin-left: 100px;
}
section#main h3{
    font-weight: lighter;
    margin-left: 100px;
    font-size: 1.2rem;
    width: 50%;
}
section#main .bola{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #eee459;
    float: right;
    margin-right: -100px;
}
section#main .bola img{
    width: 290px;
    display: block;
    margin-top: 50px;
    margin-left: 100px;
    transform:rotate(-30deg);
}
.col{
    width: 50%;
    float: left;

}
#numeros{
    border-left: 10px solid #19a49c;
    width: 100%;
    height: 100px;
    margin-top: 20px;
}
#numeros >div >.col >h5{
    /* border-bottom: 1px solid #1d1d1d; */
    font-size: 1.5rem;
    font-weight: lighter;
}
#news, #contact{
    
    width: 90%;
    margin-left: 90px;
    min-height: 300px;
    display: block;
    margin-top: 50px;
}
#news .columna3{
    float:left;
    width:25%;
    height: 200px;
    margin-left:8%;
}
#news .columna3 a{
    text-decoration: none;
    color: #1d1d1d;
}
#news .columna3 a img{
    width: 100%;
    height: 90%;
}
#contact h2{
    margin-top: 200px;
}
#contact fieldset{
    border: none;
    padding: 5px;
}
#contact fieldset label{
    display: block;
    width: 100%;
}
#contact fieldset input, #contact fieldset textarea{
    display: block;
    width: 90%;
    border: 1px solid #eeeeee;
    padding: 5px;
    outline-color: #eeeeee;
    height: 30px;
}
#contact fieldset button{
    width: 150px;
    height: 30px;
    padding: 5px;
    background-color: #19a49c;
    color: white;
    border: none;
}
footer{
    text-align: center;
    padding: 5px;
    margin-top: 50px;
    display: block;
    width: 100%;
    height: 70px;
    background-color: #19a49c;
    color: whitesmoke;
}
