@media screen and (min-width: 300px){
    body{
        background-color: red;
    }
    .col{
        width: 100%;
    }
    #news .columna3{
        width:100%;  
        margin-left: 0px;
    }
}



@media screen and (min-width: 768px){
    body{
        background-color: green;
    }
}



@media screen and (min-width: 992px){
    body{
        background-color: whitesmoke;
    }
    #news .columna3{
        width:25%;  
        margin-left: 8%;
    }
}